
            <div class="header">
                  <ion-grid>
                    <ion-row class="">
                  <!-- <ion-icon class="menu" name="home" (> </ion-icon> -->
                  <ion-col size="2">
                    
                    <app-explore-container *ngIf="showBtnMenu$ | async"></app-explore-container>
                    <span *ngIf="showBtnBack$ | async"><ion-icon  (click)="Back()" name="arrow-back" > </ion-icon></span>
                  </ion-col>
                  <ion-col size="8">
                    <span class="libelle">{{titrePage}}</span>
                  </ion-col>
                  <ion-col size="2" *ngIf="showBtn$ | async">
                    <span><ion-icon name="search" ></ion-icon></span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  
                 
                  
                         
                </ion-row>
              </ion-grid>


            </div>

              <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap" rel="stylesheet">
                    
                   <div class="layout" *ngIf="showBtn$ | async">
                    <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
                    <div class="page home-page">
                      <div class="page-contents">
                        <h5>Les Xassidas</h5>
                        <p>Voici la liste {{contenuPage}}</p>
                       
                      </div>
                    </div>
                    <label class="nav" for="home">
                      <span>
                        <ion-icon class="ico" name="book-outline"></ion-icon>
                         Les Xassidas
                      </span>
                    </label>
                  
                    <input name="nav" type="radio" class="about-radio" id="about" />
                    <div class="page about-page">
                      <div class="page-contents">
                        <h5>Mes Favoris</h5>
                        <p>Voici la liste de  mes favoris sur la liste {{contenuPage}}</p>
                      </div>
                    </div>
                    <label class="nav" for="about">
                      <span>
                        <ion-icon class="ico" name="heart-outline"></ion-icon>
                         Mes Favoris
                        </span>
                      </label>
                  
                  </div> 
    
      
            
  
