<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" >

  <div class="contain">
   
   <ion-grid>
    <div class="haut">
             <ion-row>
                      <ion-col >
                      
                          <app-explore-container ></app-explore-container>
                      </ion-col>
                          
            </ion-row>
            <ion-row>
              <ion-col size="12" class="text">
                <!-- <ion-menu-button  class="menu"></ion-menu-button>    -->
                  <span class="ion-text-center"> 20,Dhu al-Qidah,1442</span>
             </ion-col> 
            </ion-row>

            <ion-row>
              <ion-col size="12" class="text">
                  <span class="heureP"> Dhuhr-13:02 (GMT)</span>
             </ion-col> 
            </ion-row>
    </div>

               
          <!-- <ion-row>
              <ion-col size-sm="4"  size-md="6" size="6"  > 

                  <ion-card >
                    <a routerLink="/" style="text-decoration: none;">
                        <ion-icon name="logo-buffer"></ion-icon>
                        <ion-card-header>
                        <ion-card-title class="ila">Ilaahiyaat</ion-card-title>
                        </ion-card-header>
                    </a>
                  </ion-card>
                  
              </ion-col>
              <ion-col size-sm="4"  size-md="6" size="6">
                  <ion-card >
                      <a routerLink="/" style="text-decoration: none;">
                          <ion-icon name="logo-buffer" class="ion-name"></ion-icon>
                          <ion-card-header>
                          <ion-card-title class="mou">Mouhammadiyaat</ion-card-title>
                          </ion-card-header>
                      </a>
                  </ion-card>
              </ion-col>
          </ion-row>  -->
          <div class="main-container">
            <div class="heading">
            
              <!-- <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Design by Simon Lurwer on Dribbble</a></p> -->
            </div>
            <div class="cards">
              <div class="card card-1">
                <div class="card__icon"><ion-icon name="logo-buffer" ></ion-icon></div> 
                <!-- <p class="card__exit"><fa-icon icon="times"></fa-icon></p> -->
                <h2 class="card__title">Ilaahiyaat</h2>
                <p class="card__apply">
                  <a class="card__link" routerLink="/ilaahiyaat">voir plus+ <fa-icon icon="arrow-right"></fa-icon></a>
                </p>
              </div>
              <div class="card card-2">
                <div class="card__icon"><ion-icon name="logo-buffer" ></ion-icon></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h6 class="card__title">Mouhamadiyaat</h6>
                <p class="card__apply">
                  <a class="card__link" routerLink="/mouhamadiyaat">voir plus+ <fa-icon icon="arrow-right"></fa-icon></a>
                  
                </p>
              </div>
              <div class="card card-3">
                <div class="card__icon"><ion-icon name="logo-buffer" ></ion-icon></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h4 class="card__title">Ahmadiyaat</h4>
                <p class="card__apply">
                  <a class="card__link" routerLink="/ahmadiyaat">voir plus+ <fa-icon icon="arrow-right"></fa-icon></a>
                </p>
              </div>
              <div class="card card-4">
                <div class="card__icon"><ion-icon name="logo-buffer" ></ion-icon></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h4 class="card__title">Tidiaaniyaat</h4>
                <p class="card__apply">
                  <a class="card__link" routerLink="/tidianiyaat">voir plus+ <fa-icon icon="arrow-right"></fa-icon></a>
                </p>
              </div>
              <!-- <div class="card card-5">
                <div class="card__icon"><i class="fas fa-bolt"></i></div>
                <p class="card__exit"><i class="fas fa-times"></i></p>
                <h2 class="card__title">Ut enim ad minim veniam.</h2>
                <p class="card__apply">
                  <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
                </p>
              </div> -->
           
            </div>
          </div>
          


</ion-grid>






  </div>
</ion-content>
